@using TraverTripProje.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            @*<img src="~/web/images/about_banner.jpg" alt="" />*@
            @foreach (var x in Model)
            {
                <img src="@x.FotoUrl" alt="" />
                <p style="font-size: 17px; font-weight: bold; color: #333;">@x.Aciklama</p>
            }
            
        </div>
    </div>
</div>


